/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-table {
  margin: 10px;
  border: solid 1px black;
}

.main-menu {
  margin: 10px;
}
